<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="InactivityTimerSection" type="BaggaBot.InactivityConfiguration, BaggaBot"/>
  </configSections>
  
  <InactivityTimerSection Interval="1" DisplayMessage="@here Its been 24 hours since a post .. c'mon all! ">
    <Channels>
      <Channel Name="" Id=""/>
    </Channels>
  </InactivityTimerSection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="bot-token" value=""/>
  </appSettings>

</configuration>